<div class="popup canvas-popup">
    <button class="popup__close">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_930_10879)">
                <path d="M3.5 3.5L21.5 21.5M3.5 21.5L21.5 3.5" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_930_10879">
                    <rect width="24" height="24" fill="white" transform="translate(0.5 0.5)" />
                </clipPath>
            </defs>
        </svg>
    </button>
    <div class="popup__body">
        <p class="popup__heading heading1">Размер полотна</p>
        <button class="popup__btn-clear primary-btn">Сбросить выбор</button>
        <div class="size">
            <p class="popup__subheading heading2">Ширина и высота, мм</p>
            <div class="popup-select filters-select">
                <p class="filters-select__name">Размер двери</p>
                <p class="filters-select__title">870 х 2060 мм</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="doorsize">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">870 х 2060 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="doorsize">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">870 х 2060 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="doorsize">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">870 х 2060 мм</span>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <p class="popup__subheading heading2">Погонажные изделия</p>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Доборная доска</p>
                <p class="filters-select__title">Добор телескопический 100 мм комплект</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="redio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Добор телескопический 100 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Добор телескопический 100 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Добор телескопический 100 мм комплект</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Наличник</p>
                <p class="filters-select__title">Коробка телескопическая 30x67 мм комплект</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="redio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Плинтус</p>
                <p class="filters-select__title">Коробка телескопическая 30x67 мм комплект</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="redio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Нащельник</p>
                <p class="filters-select__title">Коробка телескопическая 30x67 мм комплект</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="redio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Коробка</p>
                <p class="filters-select__title">Коробка телескопическая 30x67 мм комплект</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="redio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Коробка телескопическая 30x67 мм комплект</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>