<div class="popup color-popup">
    <button class="popup__close">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_930_10879)">
                <path d="M3.5 3.5L21.5 21.5M3.5 21.5L21.5 3.5" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_930_10879">
                    <rect width="24" height="24" fill="white" transform="translate(0.5 0.5)" />
                </clipPath>
            </defs>
        </svg>
    </button>
    <div class="popup__body">
        <p class="popup__heading heading1">Выберите цвет</p>
        <button class="popup__btn-clear primary-btn">Сбросить выбор</button>
        <div class="color-popup__list">
            <div class="color-popup__list-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="330" height="330" viewBox="0 0 330 330"
                    class="color-popup__list-item__color">
                    <rect x="0" y="0" width="330" height="330" fill="#80728F" />
                </svg>
                <div class="color-popup__list-item__name">
                    <p class="heading2">Лаванда</p>
                </div>
                <a href="#" class="card-btn">
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                            fill="#A0A1A5" />
                    </svg>
                </a>
            </div>

            <div class="color-popup__list-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="330" height="330" viewBox="0 0 330 330"
                    class="color-popup__list-item__color">
                    <rect x="0" y="0" width="330" height="330" fill="#434150" />
                </svg>
                <div class="color-popup__list-item__name">
                    <p class="heading2">Мунлайт</p>
                </div>
                <a href="#" class="card-btn">
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                            fill="#A0A1A5" />
                    </svg>
                </a>
            </div>

            <div class="color-popup__list-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="330" height="330" viewBox="0 0 330 330"
                    class="color-popup__list-item__color">
                    <rect x="0" y="0" width="330" height="330" fill="#B86C57" />
                </svg>
                <div class="color-popup__list-item__name">
                    <p class="heading2">Красное дерево</p>
                </div>
                <a href="#" class="card-btn">
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                            fill="#A0A1A5" />
                    </svg>
                </a>
            </div>

            <div class="color-popup__list-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="330" height="330" viewBox="0 0 330 330"
                    class="color-popup__list-item__color">
                    <rect x="0" y="0" width="330" height="330" fill="#D0B793" />
                </svg>
                <div class="color-popup__list-item__name">
                    <p class="heading2">Пляжный песок</p>
                </div>
                <a href="#" class="card-btn">
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                            fill="#A0A1A5" />
                    </svg>
                </a>
            </div>

            <div class="color-popup__list-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="330" height="330" viewBox="0 0 330 330"
                    class="color-popup__list-item__color">
                    <rect x="0" y="0" width="330" height="330" fill="#504141" />
                </svg>
                <div class="color-popup__list-item__name">
                    <p class="heading2">Коричневый</p>
                </div>
                <a href="#" class="card-btn">
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                            fill="#A0A1A5" />
                    </svg>
                </a>
            </div>

            <div class="color-popup__list-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="330" height="330" viewBox="0 0 330 330"
                    class="color-popup__list-item__color">
                    <rect x="0" y="0" width="330" height="330" fill="#878E98" />
                </svg>
                <div class="color-popup__list-item__name">
                    <p class="heading2">Мокрый асфальт</p>
                </div>
                <a href="#" class="card-btn">
                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                            fill="#A0A1A5" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>