<header class="header">
    <div class="container">
        <a href="/main.html" class="header__logo">
            <img src="./src/images/svg/logo.svg" alt="" class="header__logo-img">
        </a>
        <div class="header__menu">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-list__item">
                        <a href="./catalog.html" class="header__nav-list__item-link">Каталог</a>
                    </li>
                    <li class="header__nav-list__item">
                        <a href="./catalog.html" class="header__nav-list__item-link">Акции</a>
                    </li>
                    <li class="header__nav-list__item">
                        <a href="./catalog.html" class="header__nav-list__item-link">Где купить</a>
                    </li>
                    <li class="header__nav-list__item">
                        <a href="./catalog.html" class="header__nav-list__item-link">О компании</a>
                    </li>
                    <li class="header__nav-list__item">
                        <a href="./catalog.html" class="header__nav-list__item-link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <button class="header__btn-measurer secondary-btn">вызвать замерщика</button>
            <a href="tel:+74995503370" class="header__phone mobile">+7 499 550 33 70</a>
        </div>
        <button class="header__search">
            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.8304 19.777C15.7715 19.777 19.777 15.7715 19.777 10.8304C19.777 5.88932 15.7715 1.88379 10.8304 1.88379C5.88932 1.88379 1.88379 5.88932 1.88379 10.8304C1.88379 15.7715 5.88932 19.777 10.8304 19.777Z"
                    stroke="#21252C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.7185 20.7185L18.835 18.835" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
        <a href="tel:+74995503370" class="header__phone desktop">+7 499 550 33 70</a>
        <button class="header__burger mobile">
            <svg width="25" height="21" viewBox="0 0 25 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.95215 10.4434H23.3807" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M1.95215 2.56836H23.3807" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M1.95215 18.3184H23.3807" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
</header>