<section class="measurement-section">
    <div class="container">
        <div class="measurement-section__block">
            <p class="measurement-section__heading heading1">Запишитесь
                на&nbsp;бесплатный замер</p>
            <p class="measurement-section__notice">Посчитаем количество материалов и определим размеры дверей</p>
            <img src="./src/images/measurement-img.png" alt="" class="measurement-section__img">
            <div>
                <ul class="measurement-section__list">
                    <li class="measurement-section__list-item">
                        <p class="measurement-section__list-item__number heading4">001</p>
                        <p class="measurement-section__list-item__description">Замерщик выезжает на адрес с образцами
                            цветов
                            и каталогами. Производит точный замер и четко просчитывает всю сумму под ключ с установкой.
                        </p>
                    </li>
                    <li class="measurement-section__list-item">
                        <p class="measurement-section__list-item__number heading4">002</p>
                        <p class="measurement-section__list-item__description">У него на руках договора и поэтому если
                            Вас
                            все устраивает, можно заключить договор на месте
                            и внести предоплату.</p>
                    </li>
                </ul>
                <button class="measurement-section__btn primary-btn">оставить заявку</button>
            </div>
        </div>
    </div>
</section>