<section class="measurement-section">
    <div class="container">
        <div class="measurement-section__block">
            <p class="measurement-section__heading heading1">С нами выгодно сотрудничать</p>
            <p class="measurement-section__notice">Общая стоимость работ обойдется в среднем на 15% ниже рыночной.</p>
            <img src="./src/images/measurement-img2.png" alt="" class="measurement-section__img">
            <div>
                <ul class="measurement-section__list">
                    <li class="measurement-section__list-item">
                        <p class="measurement-section__list-item__number heading4">001</p>
                        <p class="measurement-section__list-item__description">Мы заключаем прямые договоры с
                            производителями материалов и подходим индивидуально к каждому проекту.
                        </p>
                    </li>
                    <li class="measurement-section__list-item">
                        <p class="measurement-section__list-item__number heading4">002</p>
                        <p class="measurement-section__list-item__description">Мы заключаем прямые договоры с
                            производителями материалов и подходим индивидуально к каждому проекту.</p>
                    </li>
                </ul>
                <button class="measurement-section__btn primary-btn">оставить заявку</button>
            </div>
        </div>
    </div>
</section>