<div class="popup options-popup">
    <button class="popup__close">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_930_10879)">
                <path d="M3.5 3.5L21.5 21.5M3.5 21.5L21.5 3.5" stroke="#21252C" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </g>
            <defs>
                <clipPath id="clip0_930_10879">
                    <rect width="24" height="24" fill="white" transform="translate(0.5 0.5)" />
                </clipPath>
            </defs>
        </svg>
    </button>
    <div class="popup__body">
        <p class="popup__heading heading1">Выбор опций</p>
        <button class="popup__btn-clear primary-btn">Сбросить выбор</button>
        <div class="size">
            <p class="popup__subheading heading2">Ширина и высота, мм</p>
            <div class="popup-select filters-select">
                <p class="filters-select__name">Размер двери</p>
                <p class="filters-select__title">870 х 2060 мм</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="doorsize">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">870 х 2060 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="doorsize">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">870 х 2060 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="doorsize">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">870 х 2060 мм</span>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <div class="popup-select filters-select">
                <p class="filters-select__name">Фурнитура</p>
                <p class="filters-select__title">MAXI LOCKS R 4325</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="furniture"
                            value="MAXI LOCKS R 1234">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">MAXI LOCKS R 1234</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="furniture"
                            value="MAXI LOCKS R 1234">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">MAXI LOCKS R 5678</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Порог из нерж. стали</p>
                <p class="filters-select__title">Не выбрано</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="porog" value="Да">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Да</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="porog" value="Нет">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Нет</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Наличник наружный</p>
                <p class="filters-select__title">Наружный 70 мм</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="nalichnik1" value="Наружный 70 мм">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Наружный 70 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="nalichnik1" value="Наружный 80 мм">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Наружный 80 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="nalichnik1" value="Наружный 90 мм">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Наружный 90 мм</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Наличник внутренний</p>
                <p class="filters-select__title">Внутренний 90 мм</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="nalichnik2"
                            value="Внутренний 90 мм">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Внутренний 90 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="nalichnik2"
                            value="Внутренний 110 мм">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Внутренний 110 мм</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="nalichnik2"
                            value="Внутренний 120 мм">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Внутренний 120 мм</span>
                    </label>
                </div>
            </div>

            <div class="popup-select filters-select">
                <p class="filters-select__name">Сторона открывания</p>
                <p class="filters-select__title">Не выбрано</p>
                <div class="filters__item">
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="storona" value="Правая">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Правая</span>
                    </label>
                    <label class="filters__item-label">
                        <input type="radio" class="filters__item-label__input" name="storona" value="Левая">
                        <span class="filters__item-label__radio"></span>
                        <span class="filters__item-label__span">Левая</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
</div>