<div class="pop-up popup-measuring">
    <div class="pop-up__body">
        <button class="pop-up__close">
            <img src="./src/images/svg/cross.svg" alt="">
        </button>
        <p class="pop-up__heading">Заявка на замер</p>
        <p class="pop-up__description">Заполните необходимые данные ниже и мы бесплатно посчитаем количество материалов
            и
            определим размеры дверей.
        </p>
        <form action="#" class="pop-up__form">
            <div class="pop-up__form-input__container">
                <input type="text" placeholder="Имя" class="pop-up__form-input">
                <div class="gradient-border"></div>
            </div>
            <div class="pop-up__form-input__container">
                <input type="text" placeholder="Город" class="pop-up__form-input">
                <div class="gradient-border"></div>
            </div>
            <div class="pop-up__form-input__container">
                <input type="tel" placeholder="Контактный телефон" class="pop-up__form-input">
                <div class="gradient-border"></div>
            </div>
            <div class="pop-up__form-input__container">
                <input type="email" placeholder="E-mail" class="pop-up__form-input">
                <div class="gradient-border"></div>
            </div>
            <button class="pop-up__form-btn primary-btn">Отправить</button>
        </form>
    </div>
</div>