<div class="pop-up popup-payment">
    <div class="pop-up__body">
        <button class="pop-up__close">
            <img src="./src/images/svg/cross.svg" alt="">
        </button>
        <p class="pop-up__heading">Способы оплаты</p>
        <p class="pop-up__description">Вы можете обменять или вернуть товар в течение 30 дней с момента приобретения,
            если:<br>
            1) товар не был в употреблении; 2) упаковка товара не потеряла товарный вид, а герметичные одноразовые
            клапаны не вскрыты; 3) вы сохранили чек и товарную накладную; 4) товар не доставался из упаковки (касается
            одеял, покрывал и пледов).Обмен и возврат заказов в Москве <br>
            Для возврата необходимо предоставить:1) товар; 2) накладную и чек; 3) паспорт; 4) заявление. <br>
            Заявления на обмен и возврат принимаются по адресу:Москва, Костомаровский пер., д. 3, стр. 6.
        </p>
        <p class="pop-up__subheaing">В будние дни с 8:00 до 17:00.</p>
        <p class="pop-up__description">
            Сроки возврата денег Возврат денег будет произведен тем же способом, которым вы оплачивали заказ. <br>
            1) если товар не был в употреблении – в момент предоставления товара; <br>
            2) товар не был использован, но с браком или вы успели использовать и брак проявился в процессе – 10 дней.
        </p>
    </div>
</div>