<div class="product__description">

    <div class="product__description-top">
        <button class="product__description-top__btn primary-btn active">Описание</button>
        <button class="product__description-top__btn primary-btn">Характеристики</button>
    </div>

    <div class="product__description-content">
        <p class="product__description-content__text"> Классический стиль обогатился более легкими
            формами, новыми цветами: симметричная и
            сбалансированная, грациозная и вечно актуальная модель ALTA прекрасно впишется в дизайн даже
            современных интерьеров. <br>
            Использование полиуретановой эмали в качестве финишной отделки позволяет добиться
            максимально
            высоких показателей по износоустойчивости и долговечности. <br>
            Элитные фигурные наличники и карниз придают еще большую утонченность и изысканность.
        </p>

        <p class="product__description-content__list-heading"> Комплект поставки данной модели двери:
        </p>
        <ul class="product__description-content__list">
            <li class="product__description-content__list-item">Дверное полотно в сборе с коробкой;
            </li>
            <li class="product__description-content__list-item">Заглушки - 5 шт.;</li>
            <li class="product__description-content__list-item">Чашки для противосъемных штырей - 2
                шт.;</li>
            <li class="product__description-content__list-item">Цилиндровый замок: 635-НТО ЛУЧ, 4
                ригеля диаметром 18 мм;</li>
            <li class="product__description-content__list-item">Цилиндр: Ключ-фиксатор 80-40/40 Хром (5
                ключей);</li>
            <li class="product__description-content__list-item">Ручка на планке в цвете Антик Медь;
            </li>
            <li class="product__description-content__list-item">Глазок пластик: 16/40-65 Хром со
                шторкой и углом обзора 160°.</li>
        </ul>

        <p class="product__description-content__text"><span>Производитель:</span> фабрика дверей БРАВО
            , г. Москва.</p>

        <p class="product__description-content__text"><span>Место установки:</span> подъезд,
            использование данной
            модели как наружной (уличной) двери не допускается.Отделка снаружи: гладкий лист
            метала. Отделка внутри: панель ЛДВП толщиной 3 мм ламинированная. Толщина полотна / коробки:
            45 мм / 52 мм.Толщина стали полотна (снаружи / внутри): 0,6 мм / 0,0 мм.Толщина стали
            короба: 1 мм. Внутреннее заполнение (утепление): жесткий пенополистирол, (соответствует 3-х
            камерному стеклопакету или 76 см кирпичной кладки К=1,2 Вт/м²С (ГОСТ 26602.1-99) 1 класс,
            снижение шума в 6 раз Ra=32дБА (ГОСТ 26602.3-99). Тип коробки: открытый.Уплотнение: один
            контур уплотнения по периметру полотна (D).Усиление: дополнительную защиту обеспечивают
            противосъемные штыри (2 шт.).Крепление: двери крепятся анкерными болтами через коробкуВес:
            30-33 кг (в зависимости от размера блока).Ширина наличника: 47 мм.Петли: 2 петли с
            подшипником 140*20 мм.Открывание: 180˚.</p>
    </div>
</div>