<section class="reviews-section section">
    <div class="container">
        <div class="reviews-section__top">
            <p class="reviews-section__heading heading1">Отзывы о нас</p>
            <a href="#" class="reviews-section__link primary-btn">смотреть все</a>
        </div>
        <div class="swiper-container reviews-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide reviews-section__swiper-slide">
                    <div class="reviews-section__swiper-slide__top">
                        <div class="reviews-section__swiper-slide__img-container">
                            <img src="./src/images/reviews-author-photo1.png" alt=""
                                class="reviews-section__swiper-slide__img">
                        </div>
                        <div class="reviews-section__swiper-slide__rating">
                            <img src="./src/images/svg/reviews-star.svg" alt=""
                                class="reviews-section__swiper-slide__rating-star">
                            <span class="reviews-section__swiper-slide__rating-number">5.0</span>
                        </div>
                    </div>
                    <div class="reviews-section__swiper-slide__card">
                        <p class="reviews-section__swiper-slide__name heading2">Смирнова Анастасия</p>
                        <p class="reviews-section__swiper-slide__description">К выбору межкомнатных дверей мы отнеслись
                            очень серьезно. Рынок переполнен, голова кругом от
                            предложений. А хотелось бы, по приемлемой цене и отличного качества...</p>
                        <div class="reviews-section__swiper-slide__bottom">
                            <p class="reviews-section__swiper-slide__date heading4">12 апр 2022</p>
                            <a href="#" class="reviews-section__swiper-slide__link">
                                <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM22.9203 8.70711C23.3108 8.31658 23.3108 7.68342 22.9203 7.29289L16.5563 0.928932C16.1658 0.538408 15.5327 0.538408 15.1421 0.928932C14.7516 1.31946 14.7516 1.95262 15.1421 2.34315L20.799 8L15.1421 13.6569C14.7516 14.0474 14.7516 14.6805 15.1421 15.0711C15.5327 15.4616 16.1658 15.4616 16.5563 15.0711L22.9203 8.70711ZM1 9L22.2132 9V7L1 7V9Z"
                                        fill="#A0A1A5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide reviews-section__swiper-slide">
                    <div class="reviews-section__swiper-slide__top">
                        <div class="reviews-section__swiper-slide__img-container">
                            <img src="./src/images/svg/reviews-no-photo.svg" alt=""
                                class="reviews-section__swiper-slide__img no-photo">
                        </div>
                        <div class="reviews-section__swiper-slide__rating">
                            <img src="./src/images/svg/reviews-star.svg" alt=""
                                class="reviews-section__swiper-slide__rating-star">
                            <span class="reviews-section__swiper-slide__rating-number">5.0</span>
                        </div>
                    </div>
                    <div class="reviews-section__swiper-slide__card">
                        <p class="reviews-section__swiper-slide__name heading2">Смирнова Анастасия</p>
                        <p class="reviews-section__swiper-slide__description">К выбору межкомнатных дверей мы отнеслись
                            очень серьезно. Рынок переполнен, голова кругом от
                            предложений. А хотелось бы, по приемлемой цене и отличного качества...</p>
                        <div class="reviews-section__swiper-slide__bottom">
                            <p class="reviews-section__swiper-slide__date heading4">12 апр 2022</p>
                            <a href="#" class="reviews-section__swiper-slide__link">
                                <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM22.9203 8.70711C23.3108 8.31658 23.3108 7.68342 22.9203 7.29289L16.5563 0.928932C16.1658 0.538408 15.5327 0.538408 15.1421 0.928932C14.7516 1.31946 14.7516 1.95262 15.1421 2.34315L20.799 8L15.1421 13.6569C14.7516 14.0474 14.7516 14.6805 15.1421 15.0711C15.5327 15.4616 16.1658 15.4616 16.5563 15.0711L22.9203 8.70711ZM1 9L22.2132 9V7L1 7V9Z"
                                        fill="#A0A1A5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide reviews-section__swiper-slide">
                    <div class="reviews-section__swiper-slide__top">
                        <div class="reviews-section__swiper-slide__img-container">
                            <img src="./src/images/reviews-author-photo2.png" alt=""
                                class="reviews-section__swiper-slide__img">
                        </div>
                        <div class="reviews-section__swiper-slide__rating">
                            <img src="./src/images/svg/reviews-star.svg" alt=""
                                class="reviews-section__swiper-slide__rating-star">
                            <span class="reviews-section__swiper-slide__rating-number">5.0</span>
                        </div>
                    </div>
                    <div class="reviews-section__swiper-slide__card">
                        <p class="reviews-section__swiper-slide__name heading2">Смирнова Анастасия</p>
                        <p class="reviews-section__swiper-slide__description">К выбору межкомнатных дверей мы отнеслись
                            очень серьезно. Рынок переполнен, голова кругом от
                            предложений. А хотелось бы, по приемлемой цене и отличного качества...</p>
                        <div class="reviews-section__swiper-slide__bottom">
                            <p class="reviews-section__swiper-slide__date heading4">12 апр 2022</p>
                            <a href="#" class="reviews-section__swiper-slide__link">
                                <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM22.9203 8.70711C23.3108 8.31658 23.3108 7.68342 22.9203 7.29289L16.5563 0.928932C16.1658 0.538408 15.5327 0.538408 15.1421 0.928932C14.7516 1.31946 14.7516 1.95262 15.1421 2.34315L20.799 8L15.1421 13.6569C14.7516 14.0474 14.7516 14.6805 15.1421 15.0711C15.5327 15.4616 16.1658 15.4616 16.5563 15.0711L22.9203 8.70711ZM1 9L22.2132 9V7L1 7V9Z"
                                        fill="#A0A1A5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide reviews-section__swiper-slide">
                    <div class="reviews-section__swiper-slide__top">
                        <div class="reviews-section__swiper-slide__img-container">
                            <img src="./src/images/reviews-author-photo1.png" alt=""
                                class="reviews-section__swiper-slide__img">
                        </div>
                        <div class="reviews-section__swiper-slide__rating">
                            <img src="./src/images/svg/reviews-star.svg" alt=""
                                class="reviews-section__swiper-slide__rating-star">
                            <span class="reviews-section__swiper-slide__rating-number">5.0</span>
                        </div>
                    </div>
                    <div class="reviews-section__swiper-slide__card">
                        <p class="reviews-section__swiper-slide__name heading2">Смирнова Анастасия</p>
                        <p class="reviews-section__swiper-slide__description">К выбору межкомнатных дверей мы отнеслись
                            очень серьезно. Рынок переполнен, голова кругом от
                            предложений. А хотелось бы, по приемлемой цене и отличного качества...</p>
                        <div class="reviews-section__swiper-slide__bottom">
                            <p class="reviews-section__swiper-slide__date heading4">12 апр 2022</p>
                            <a href="#" class="reviews-section__swiper-slide__link">
                                <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM22.9203 8.70711C23.3108 8.31658 23.3108 7.68342 22.9203 7.29289L16.5563 0.928932C16.1658 0.538408 15.5327 0.538408 15.1421 0.928932C14.7516 1.31946 14.7516 1.95262 15.1421 2.34315L20.799 8L15.1421 13.6569C14.7516 14.0474 14.7516 14.6805 15.1421 15.0711C15.5327 15.4616 16.1658 15.4616 16.5563 15.0711L22.9203 8.70711ZM1 9L22.2132 9V7L1 7V9Z"
                                        fill="#A0A1A5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews-section__swiper__controllers swiper-controllers">
                <div class="reviews-section__swiper__prev prev">
                    <svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M23 4.5C23.2761 4.5 23.5 4.27614 23.5 4C23.5 3.72386 23.2761 3.5 23 3.5V4.5ZM0.646446 3.64645C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976311 4.7308 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82843 0.464466L0.646446 3.64645ZM23 3.5L1 3.5V4.5L23 4.5V3.5Z"
                            fill="white" />
                    </svg>
                </div>
                <div class="reviews-section__swiper__pagination pagination"></div>
                <div class="reviews-section__swiper__next next">
                    <svg width="24" height="8" viewBox="0 0 24 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1 3.5C0.723858 3.5 0.5 3.72386 0.5 4C0.5 4.27614 0.723858 4.5 1 4.5V3.5ZM23.3536 4.35355C23.5488 4.15829 23.5488 3.84171 23.3536 3.64645L20.1716 0.464466C19.9763 0.269204 19.6597 0.269204 19.4645 0.464466C19.2692 0.659728 19.2692 0.976311 19.4645 1.17157L22.2929 4L19.4645 6.82843C19.2692 7.02369 19.2692 7.34027 19.4645 7.53553C19.6597 7.7308 19.9763 7.7308 20.1716 7.53553L23.3536 4.35355ZM1 4.5L23 4.5V3.5L1 3.5V4.5Z"
                            fill="white" />
                    </svg>
                </div>
            </div>

        </div>
    </div>
</section>