<section class="selection section">
    <div class="selection__swiper-controllers">
        <div class="selection__swiper__next">
            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M21.5303 6.53033C21.8232 6.23744 21.8232 5.76256 21.5303 5.46967L16.7574 0.696699C16.4645 0.403806 15.9896 0.403806 15.6967 0.696699C15.4038 0.989593 15.4038 1.46447 15.6967 1.75736L19.9393 6L15.6967 10.2426C15.4038 10.5355 15.4038 11.0104 15.6967 11.3033C15.9896 11.5962 16.4645 11.5962 16.7574 11.3033L21.5303 6.53033ZM0 6.75H21V5.25H0V6.75Z"
                    fill="#21252C" fill-opacity="0.4" />
            </svg>
        </div>
        <div class="selection__swiper__pagination"></div>
        <div class="selection__swiper__prev">
            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.469669 6.53033C0.176777 6.23744 0.176777 5.76256 0.469669 5.46967L5.24264 0.696699C5.53553 0.403806 6.01041 0.403806 6.3033 0.696699C6.59619 0.989593 6.59619 1.46447 6.3033 1.75736L2.06066 6L6.3033 10.2426C6.59619 10.5355 6.59619 11.0104 6.3033 11.3033C6.01041 11.5962 5.53553 11.5962 5.24264 11.3033L0.469669 6.53033ZM22 6.75H1V5.25H22V6.75Z"
                    fill="#21252C" fill-opacity="0.4" />
            </svg>
        </div>
    </div>
    <div class="selection__swiper swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide selection__swiper-slide">
                <img src="./src/images/selection__swiper-img.png" alt="" class="selection__swiper-slide__img desktop">
                <img src="./src/images/selection__swiper-img-mobile.png" alt=""
                    class="selection__swiper-slide__img mobile">
                <p class="selection__swiper-slide__subheading heading2">Входные и межкомнатные</p>
                <p class="selection__swiper-slide__heading heading1">Двери точь-в-точь</p>
                <a href="#" class="selection__swiper-slide__link primary-btn">подобрать двери</a>
                <button class="selection__swiper-slide__btn btn1">
                    <span>
                        <span>
                            <span>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.5H10" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M5.5 10V1" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </span>
                    </span>
                </button>
                <button class="selection__swiper-slide__btn btn2">
                    <span>
                        <span>
                            <span>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.5H10" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M5.5 10V1" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </span>
                    </span>
                </button>
                <div class="selection__swiper-slide__card desktop">
                    <img src="./src/images/light-door.png" alt="" class="selection__swiper-slide__card-img">
                    <div class="card-top">
                        <p class="card-subheading heading4">Межкомнатная дверь</p>
                        <p class="card-heading heading2">Сорренто</p>
                    </div>
                    <div class="card-bottom">
                        <p class="card-price">12 000 &#8381;</p>
                        <a href="#" class="card-link card-btn">
                            <svg width="23" height="16" viewBox="0 0 23 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                                    fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide selection__swiper-slide">
                <img src="./src/images/selection__swiper-img.png" alt="" class="selection__swiper-slide__img desktop">
                <img src="./src/images/selection__swiper-img-mobile.png" alt=""
                    class="selection__swiper-slide__img mobile">
                <p class="selection__swiper-slide__subheading heading2">Входные и межкомнатные</p>
                <p class="selection__swiper-slide__heading heading1">Двери точь-в-точь</p>
                <a href="#" class="selection__swiper-slide__link primary-btn">подобрать двери</a>
                <button class="selection__swiper-slide__btn btn1">
                    <span>
                        <span>
                            <span>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.5H10" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M5.5 10V1" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </span>
                    </span>
                </button>
                <button class="selection__swiper-slide__btn btn2">
                    <span>
                        <span>
                            <span>
                                <svg width="11" height="11" viewBox="0 0 11 11" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.5H10" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M5.5 10V1" stroke="#838E9C" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </span>
                    </span>
                </button>
                <div class="selection__swiper-slide__card desktop">
                    <img src="./src/images/light-door.png" alt="" class="selection__swiper-slide__card-img">
                    <div class="card-top">
                        <p class="card-subheading heading4">Межкомнатная дверь</p>
                        <p class="card-heading heading2">Сорренто</p>
                    </div>
                    <div class="card-bottom">
                        <p class="card-price">12 000 &#8381;</p>
                        <a href="#" class="card-link card-btn">
                            <svg width="23" height="16" viewBox="0 0 23 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.9203 8.70711C22.3108 8.31658 22.3108 7.68342 21.9203 7.29289L15.5563 0.928932C15.1658 0.538408 14.5327 0.538408 14.1421 0.928932C13.7516 1.31946 13.7516 1.95262 14.1421 2.34315L19.799 8L14.1421 13.6569C13.7516 14.0474 13.7516 14.6805 14.1421 15.0711C14.5327 15.4616 15.1658 15.4616 15.5563 15.0711L21.9203 8.70711ZM0 9L21.2132 9V7L0 7L0 9Z"
                                    fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>