$lightGray: #f4f5f5;
$middleGray: #e6e7ea;
$darkGray: #838e9c;
$white: #ffffff;
$greenGradient: linear-gradient(237.56deg, #78bc47 -2.7%, #4e963c 224.6%);

.heading1 {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 6rem;
}

.heading2 {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 2.2rem;
}

.heading3 {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 1.8rem;
}

.heading4 {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 1.5rem;
}
