$primaryColor: #21252c;
$lightGray: #f4f5f5;
$middleGray: #e6e7ea;
$darkGray: #838e9c;
$white: #ffffff;
$greenGradient: linear-gradient(237.56deg, #78bc47 -2.7%, #4e963c 224.6%);
$btnBoxShadow: 1rem 1.5rem 4rem rgba(126, 199, 86, 0.4);

.section {
    padding-top: 22rem;

    @media (max-width: 48em) {
        padding-top: 18rem;
    }
}

.heading1 {
    font-family: "Gilroy";
    font-weight: 400;
    font-size: 6rem;
    line-height: 6.6rem;
    color: $primaryColor;

    @media (max-width: 48em) {
        font-size: 7rem;
        line-height: 1;
    }
}

.heading2 {
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    color: $primaryColor;

    @media (max-width: 48em) {
        font-size: 3.6rem;
        line-height: 4.4rem;
    }
}

.heading3 {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: $primaryColor;

    @media (max-width: 48em) {
        font-size: 3.6rem;
        line-height: 4.6rem;
    }
}

.heading4 {
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $darkGray;

    @media (max-width: 48em) {
        font-size: 2.6rem;
        line-height: 3rem;
    }
}

.breadcrumbs__list {
    margin-bottom: 8rem;
    display: flex;
    align-items: center;

    &-item {
        position: relative;

        &:not(:last-child) {
            margin-right: 2rem;

            &::after {
                content: "/";
                position: absolute;
                right: -1.5rem;
                top: 0;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.7rem;
                color: $darkGray;
            }
        }

        &:last-child {
            .breadcrumbs__list-item__link {
                color: $primaryColor;
            }
        }

        &__link {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: $darkGray;
        }
    }

    @media (max-width: 48em) {
        margin-bottom: 5rem;
        flex-wrap: wrap;

        &-item {
            &:not(:last-child) {
                margin-right: 4rem;

                &::after {
                    right: -3rem;
                    font-size: 3rem;
                    line-height: 4.5rem;
                }
            }

            &__link {
                font-size: 3rem;
                line-height: 4.5rem;
            }
        }
    }
}

.primary-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $primaryColor;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.5rem;
        width: 100%;
        height: 2px;
        background-color: $primaryColor;
        transition: transform 0.2s ease-in-out;
        transform-origin: center;
    }

    svg {
        width: 2.2rem;
        height: 1.2rem;
        object-fit: contain;
    }

    &:hover {
        &::after {
            transform: scaleX(0);
        }
    }

    @media (max-width: 48em) {
        font-size: 3rem;
        line-height: 3.6rem;

        &::after {
            bottom: -2.4rem;
            height: 0.4rem;
        }

        svg {
            width: 4.4rem;
            height: 2.4rem;
        }
    }
}

.secondary-btn {
    position: relative;
    font-family: "Gilroy";
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $primaryColor;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1.3rem;
        width: 100%;
        height: 2px;
        background-color: $primaryColor;
        transition: transform 0.2s ease-in-out;
        transform-origin: center;
    }

    &:hover {
        &::after {
            transform: scaleX(0);
        }
    }

    @media (max-width: 48em) {
        font-size: 3rem;
        line-height: 3.6rem;
        &::after {
            height: 0.4rem;
        }
    }
}

.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 7.1rem;
    height: 7.1rem;
    background-color: #f4f4f5;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $greenGradient;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    svg {
        width: 2.3rem;
        height: 1.6rem;
        object-fit: contain;
        z-index: 2;

        path {
            transition: fill 0.2s ease-in-out;
        }
    }

    &:hover {
        background-color: transparent;
        box-shadow: $btnBoxShadow;

        &::before {
            opacity: 1;
        }

        svg {
            path {
                fill: $white;
            }
        }
    }

    @media (max-width: 48em) {
        width: 12.2rem;
        height: 12.2rem;

        svg {
            width: 4rem;
            height: 3.2rem;
        }
    }
}

.swiper-controllers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .pagination {
        display: flex;
        align-items: center;

        .swiper-pagination-bullet {
            width: auto;
            height: auto;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 2.7rem;
            color: rgba(131, 142, 156, 0.3);
            background-color: transparent;
            border-radius: 0;
            opacity: 1;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }

        .swiper-pagination-bullet-active {
            background: $greenGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            text-shadow: 0.2rem 0.5rem 1.8rem #7ec756;
        }
    }

    .prev,
    .next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.2rem;
        height: 5.2rem;
        cursor: pointer;
        background: $greenGradient;
        border-radius: 50%;

        svg {
            width: 2.4rem;
            height: 0.8rem;
            object-fit: contain;
        }
    }

    @media (max-width: 48em) {
        .prev,
        .next {
            width: 10.4rem;
            height: 10.4rem;
            svg {
                width: 4.8rem;
                height: 1.6rem;
            }
        }
        .pagination {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-pagination-bullet {
                position: relative;
                width: 2.2rem;
                height: 2.2rem;
                font-size: 0;
                line-height: 0;
                background-color: rgba(131, 142, 156, 0.2);
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 2.2rem;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    background: $greenGradient;
                    opacity: 0;
                }
            }

            .swiper-pagination-bullet-active {
                background-color: transparent;
                box-shadow: 0.4rem 1rem 3.6rem #7ec756;

                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.categories-container {
    @media (max-width: 48em) {
        margin-left: -4rem;

        width: 75rem;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

.categories {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
        padding: 2.3rem 3rem;
        position: relative;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: rgba(131, 142, 156, 0.1);
        color: rgba(160, 161, 165, 0.8);
        border-radius: 100rem;
        transition-property: color, box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        z-index: 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background: $greenGradient;
            opacity: 0;
            z-index: -1;
            transition: opacity 0.2s ease-in-out;
        }

        &.active {
            &::before {
                opacity: 1;
            }
            color: $white;
            box-shadow: $btnBoxShadow;
        }

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }

    @media (max-width: 48em) {
        padding-left: 4rem;
        padding-right: 4rem;
        width: max-content;

        &__btn {
            padding: 4rem 5rem;
            font-size: 3rem;
            line-height: 4rem;
            &:not(:last-child) {
                margin-right: 4rem;
            }
        }
    }
}

.hero-section {
    padding-top: 12.3rem;

    @media (max-width: 48em) {
        padding-top: 17.6rem;
    }
}

.filters {
    padding: 4rem;
    background-color: $white;

    &__form {
        width: 100%;

        &-top {
            margin-bottom: 3rem;
            width: 100%;
            display: flex;
            align-items: center;
        }

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-select {
        padding: 1.8rem 2rem;
        flex: 1 1 0;
        width: 0;
        position: relative;
        border: 0.1rem solid $darkGray;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 2.7rem;
        }

        &::after {
            content: "";
            position: absolute;
            right: 2rem;
            top: 50%;
            width: 1.5rem;
            height: 1.5rem;
            border-left: 0.2rem solid $primaryColor;
            border-bottom: 0.2rem solid $primaryColor;
            transform: translateY(-50%) rotate(-45deg);
        }

        &__name {
            padding: 0 0.5rem;
            position: absolute;
            top: 0;
            left: 2rem;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $darkGray;
            background-color: $white;
            transform: translateY(-50%);
        }

        &__title {
            font-weight: 700;
            font-size: 2rem;
            width: calc(100% - 2rem - 2rem - 1.5rem - 1rem);
            overflow: hidden;
            height: 2.4rem;
            line-height: 2.4rem;
            color: $primaryColor;
        }
    }

    &__item {
        position: absolute;
        top: calc(100% + 0.1rem);
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 1rem 2rem 10rem rgba(223, 221, 233, 0.6);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &-label {
            padding: 1rem 2rem 1rem 5.2rem;
            background-color: $white;
            position: relative;
            width: 100%;
            transition: background-color 0.2s ease-in-out;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(155.56deg, rgba(120, 188, 71, 0.1) 6.38%, rgba(78, 150, 60, 0.1) 129.95%);
                opacity: 0;
            }

            &.active {
                background-color: transparent;

                &::before {
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                }

                .filters__item-label__span {
                    font-weight: 700;
                }
            }

            &__input {
                position: absolute;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &:checked + .filters__item-label__checkbox {
                    border-color: transparent;

                    &::before {
                        opacity: 1;
                    }

                    &::after {
                        opacity: 1;
                    }
                }

                &:checked + .filters__item-label__radio {
                    &::before {
                        opacity: 1;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }

            &__radio {
                position: absolute;
                top: 50%;
                left: 2rem;
                width: 1.7rem;
                height: 1.7rem;
                border: 0.1rem solid #a0a1a5;
                border-radius: 50%;
                transform: translateY(-50%);

                &::after {
                    content: "";
                    position: absolute;
                    top: 0.3rem;
                    left: 0.3rem;
                    width: 0.9rem;
                    height: 0.9rem;
                    background: $greenGradient;
                    border-radius: 50%;
                    opacity: 0;
                }
            }

            &__checkbox {
                position: absolute;
                top: 50%;
                left: 2rem;
                width: 1.7rem;
                height: 1.7rem;
                border: 0.1rem solid #a0a1a5;
                transform: translateY(-50%);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: $greenGradient;
                    opacity: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 0.9rem;
                    height: 0.8rem;
                    background: url(../images/svg/filter-checkbox-mark.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
            }

            &__span {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
    }

    @media (max-width: 48em) {
        padding: 4.6rem 4rem 7rem 4rem;

        &__btn {
            width: 100%;

            svg {
                width: 2.4rem;
                height: 4.4rem;
                transition: transform 0.2s ease-in-out;
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__form {
            &-top {
                margin-bottom: 4rem;
                padding-top: 1rem;
                flex-direction: column;
                align-items: flex-start;
            }

            &-bottom {
                padding-bottom: 2.5rem;
            }
        }

        &-select {
            padding: 3.4rem 3.4rem 3.2rem 3.4rem;
            flex: none;
            width: 100%;
            border-width: 0.2rem;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 6rem;
            }

            &::after {
                right: 3.4rem;
                width: 2rem;
                height: 2rem;
            }

            &__name {
                padding: 0 1rem;
                font-size: 3rem;
                line-height: 3.6rem;
            }

            &__title {
                width: calc(100% - 3.4rem - 3.4rem - 2.6rem - 2rem);
                font-size: 3.6rem;
                line-height: 4.4rem;
                height: 4.4rem;
            }
        }

        &__item {
            top: calc(100% + 0.2rem);

            &-label {
                padding: 2rem 2rem 2rem 8.8rem;

                &__checkbox {
                    left: 3.4rem;
                    width: 3.4rem;
                    height: 3.4rem;
                    border-width: 0.2rem;

                    &::after {
                        width: 1.8rem;
                        height: 1.6rem;
                    }
                }

                &__span {
                    font-size: 3rem;
                    line-height: 3.6rem;
                }
            }
        }
    }
}

.sorting {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $darkGray;

    &__btn {
        margin-left: 0.5rem;
        color: $primaryColor;
        text-align: right;
    }

    &__form {
        position: absolute;
        top: calc(100% + 1.5rem);
        right: 0;
        width: 36rem;
        display: flex;
        flex-direction: column;
        background-color: $white;
        box-shadow: 1rem 2rem 10rem rgba(223, 221, 233, 0.6);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        &-label {
            padding: 1rem 2rem 1rem 5.2rem;
            background-color: $white;
            position: relative;
            width: 100%;
            transition: background-color 0.2s ease-in-out;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(155.56deg, rgba(120, 188, 71, 0.1) 6.38%, rgba(78, 150, 60, 0.1) 129.95%);
                opacity: 0;
            }

            &.active {
                background-color: transparent;

                &::before {
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                }

                .sorting__form-label__span {
                    font-weight: 700;
                }
            }

            &__input {
                position: absolute;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                &:checked + .sorting__form-label__radio {
                    border-color: transparent;

                    &::before {
                        opacity: 1;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }

            &__radio {
                position: absolute;
                top: 50%;
                left: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.7rem;
                height: 1.7rem;
                border: 1px solid #a0a1a5;
                border-radius: 50%;
                transform: translateY(-50%);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    background: $greenGradient;
                    opacity: 0;
                }

                &::after {
                    content: "";
                    position: relative;
                    width: 0.7rem;
                    height: 0.7rem;
                    background-color: $white;
                    border-radius: inherit;
                    opacity: 0;
                }
            }

            &__span {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: $primaryColor;
            }
        }
    }

    @media (max-width: 48em) {
        font-size: 3rem;
        line-height: 3.6rem;

        &__btn {
            margin-left: 1rem;
            border-bottom: 2px solid $primaryColor;
        }

        &__form {
            top: calc(100% + 3rem);
            left: 0;
            width: 59rem;

            &-label {
                padding: 2rem 2rem 2rem 8.8rem;

                &__radio {
                    left: 3.4rem;
                    width: 3.4rem;
                    height: 3.4rem;
                    border-width: 0.2rem;
                }

                &__span {
                    font-size: 3rem;
                    line-height: 3.6rem;
                }
            }
        }
    }
}

.card__color-list__container {
    position: absolute;
    top: 4.4rem;
    right: 4.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 48em) {
        top: 8rem;
        right: 8rem;
    }
}

.card__color-list {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;

    &__item {
        position: relative;
        transition: margin 0.2s ease-in-out;

        &:not(:last-child) {
            margin-bottom: 1.4rem;
        }

        &.active {
            margin-top: 1.5rem;
            margin-bottom: 3.2rem;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .card__color-list__item-btn {
                span {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &-btn {
            span {
                display: inline-block;
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;

                &.brown {
                    background-color: #413434;
                }

                &.light-gray {
                    background-color: #d9d9d9;
                }

                &.dark-gray {
                    background-color: #a2a2a2;
                }

                &.dark-gold {
                    background-color: #a2865d;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -100%;
                    left: -100%;
                    width: 4.5rem;
                    height: 4.5rem;
                    border-radius: 50%;
                    border: 1px solid rgba(131, 142, 156, 0.3);
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }

    @media (max-width: 48em) {
        .card__color-list__container {
            top: 8rem;
            right: 7.6rem;
        }

        .card__color-list {
            margin-bottom: 3.4rem;

            &__item {
                &:not(:last-child) {
                    margin-bottom: 2.8rem;
                }

                &.active {
                    margin-bottom: 5.8rem;

                    span {
                        &::after {
                            top: -3rem;
                            left: -3rem;
                            width: 8.8rem;
                            height: 8.8rem;
                        }
                    }
                }

                &-btn {
                    span {
                        width: 2.8rem;
                        height: 2.8rem;
                    }
                }
            }
        }
    }
}

.card-top {
    .card-heading {
        max-width: 75%;
    }

    @media (max-width: 48em) {
        .card-heading {
            max-width: 80%;
        }
    }
}

.card-bottom {
    padding: 0 2rem 0 4.9rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 2rem;
    left: 0;
    width: 100%;

    .card-price {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        letter-spacing: 0.05em;
    }

    .card-stock {
        display: flex;
        align-items: center;
        span {
            &:first-child {
                margin-right: 1.2rem;
                width: 1.4rem;
                height: 1.4rem;
                background: linear-gradient(237.56deg, #ff4242 -2.7%, #c42929 224.6%);
                border-radius: 50%;
                box-shadow: 1rem 1.5rem 4rem rgba(255, 66, 66, 0.3);
            }

            &:last-child {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 1;
            }
        }
    }

    @media (max-width: 48em) {
        padding: 0 3rem 0 5rem;
        bottom: 3rem;

        .card-price {
            font-size: 3rem;
            line-height: 4rem;
        }

        .card-stock {
            span {
                &:first-child {
                    margin-right: 2rem;
                    width: 2rem;
                    height: 2rem;
                }

                &:last-child {
                    font-size: 3rem;
                    line-height: 3rem;
                }
            }
        }
    }
}
