.error {
    padding-top: 16.3rem;
    position: relative;

    &__img {
        width: 100%;
        height: 52.7rem;
    }

    &__text {
        position: absolute;
        top: 25rem;
        left: 43.3rem;
        width: 45.5rem;
    }

    &__heading {
        margin-bottom: 2rem;
    }

    &__description {
        margin-bottom: 4rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
}

