.footer {
    margin-top: 22rem;

    &__top {
        padding-top: 7rem;
        padding-bottom: 7rem;
        background-color: $primaryColor;

        .container {
            display: flex;
        }

        &-left {
            margin-right: 4rem;
            display: flex;
            flex-direction: column;
            width: 37rem;

            &__logo {
                margin-bottom: 2rem;

                img {
                    width: 23.9rem;
                    height: 5.8rem;
                    object-fit: contain;
                }
            }

            &__description {
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 2.2rem;
                color: rgba(255, 255, 255, 0.5);
            }
        }

        &-block {
            margin-right: 4rem;
            width: 23rem;

            &__heading {
                margin-bottom: 2.5rem;
                color: $white;
            }
            &__list {
                &-item {
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 2.2rem;
                    color: $white;

                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }

                    &-link {
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 2.2rem;
                        color: $white;
                    }
                }
            }
        }

        &-right {
            width: 23rem;

            &__btn {
                color: $white;

                &::after {
                    background-color: $white;
                }
            }

            &__list {
                margin-top: 3.8rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-item {
                    &-link {
                        display: inline-block;
                        position: relative;

                        svg {
                            width: 3.5rem;
                            height: 3.5rem;
                            object-fit: contain;
                            #icon-gradient {
                                display: inline-block;
                                transition: opacity 0.2s ease-in-out;
                                opacity: 0;
                            }
                        }

                        span {
                            position: absolute;
                            bottom: -2.5rem;
                            left: 50%;
                            width: max-content;
                            font-size: 1.5rem;
                            line-height: 2.2rem;
                            background: $greenGradient;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                            opacity: 0;
                            visibility: hidden;
                            transform: translateX(-50%);
                            transition-property: opacity, visibility;
                            transition-duration: 0.2s;
                            transition-timing-function: ease-in-out;
                        }

                        &:hover {
                            svg {
                                #icon-gradient {
                                    opacity: 1;
                                }
                            }

                            span {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
        .container {
            display: flex;
            align-items: center;
        }

        &-left {
            margin-right: 30rem;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: $darkGray;
        }

        &-center {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.5rem;
            color: $darkGray;
        }

        &-right {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;

            &__text {
                margin-right: 1rem;
                p {
                    &:first-child {
                        font-weight: 500;
                        font-size: 1.5rem;
                        line-height: 1.8rem;
                        color: $darkGray;
                    }

                    &:last-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 2.2rem;

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }

            &__logo {
                width: 4.6rem;
                height: 4.6rem;
            }

            &__link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: 48em) {
        margin-top: 18rem;
        &__top {
            .container {
                flex-direction: column;
            }

            &-left {
                margin-right: 0;
                margin-bottom: 6rem;
                width: 100%;

                &__logo {
                    img {
                        width: 31.2rem;
                        height: 7.6rem;
                    }
                }

                &__description {
                    font-size: 3rem;
                    line-height: 4.4rem;
                }
            }

            &-block {
                margin-bottom: 6rem;
                width: 100%;

                &__heading {
                    margin-bottom: 3rem;
                }

                &__list {
                    &-item {
                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }

                        font-size: 3rem;
                        line-height: 4.4rem;

                        &-link {
                            font-size: 3rem;
                            line-height: 4.4rem;
                        }
                    }
                }
            }

            &-right {
                width: 100%;

                &__list {
                    margin-top: 7.6rem;
                    justify-content: flex-start;

                    &-item {
                        &:not(:last-child) {
                            margin-right: 6rem;
                        }

                        &-link {
                            svg {
                                width: 7rem;
                                height: 7rem;
                            }

                            span {
                                bottom: -5rem;
                                font-size: 3rem;
                                line-height: 4.4rem;
                            }
                        }
                    }
                }
            }
        }

        &__bottom {
            padding-top: 7rem;
            padding-bottom: 7rem;
            .container {
                align-items: center;
                flex-direction: column;
            }

            &-left {
                margin-right: 0;
                margin-bottom: 3rem;
                font-size: 3rem;
                line-height: 5rem;
                text-align: center;
            }

            &-center {
                margin-bottom: 3rem;
                font-size: 3rem;
                line-height: 4rem;
                text-align: center;
            }
            &-right {
                margin-left: 0;
                &__text {
                    margin-right: 2rem;
                    text-align: right;

                    p {
                        &:first-child {
                            font-size: 3rem;
                            line-height: 3.6rem;
                        }

                        &:last-child {
                            font-size: 3.6rem;
                            line-height: 4.4rem;
                        }
                    }
                }

                &__logo {
                    width: 9.2rem;
                    height: 9.2rem;
                }
            }
        }
    }
}
