.interior {
    &__top {
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-name {
            width: 105.3rem;
        }

        &-right {
            width: 50.7rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__stock {
                width: 24.1rem;
                height: 7.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;

                span {
                    margin-right: 1.2rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    background: $greenGradient;
                    box-shadow: 1rem 1.5rem 4rem rgba(126, 199, 86, 0.4);
                }

                p {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
            }

            &__share {
                width: 24.1rem;
                height: 7.1rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $middleGray;

                a {
                    svg {
                        width: 2.4rem;
                        height: 2.4rem;
                        #icon-gradient {
                            display: inline-block;
                            transition: opacity 0.2s ease-in-out;
                            opacity: 0;
                        }
                    }

                    &:hover {
                        svg {
                            #icon-gradient {
                                opacity: 1;
                            }
                        }
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    &__card {
        margin-bottom: 10rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &-left {
            width: 105.3rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            &__preview {
                width: 50.7rem;
                height: 60rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;

                &-img {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    .glass {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .handle {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            &__options {
                width: 50.6rem;

                &-color {
                    margin-bottom: 3rem;

                    &-heading {
                        margin-bottom: 1.5rem;
                    }

                    &-list {
                        display: flex;
                        align-items: center;

                        &-item {
                            &:not(:last-child) {
                                margin-right: 2rem;
                            }

                            button {
                                position: relative;
                                border-radius: 50%;

                                svg {
                                    width: 4rem;
                                    height: 4rem;
                                    object-fit: contain;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0.3rem;
                                    left: 0.3rem;
                                    width: 3.4rem;
                                    height: 3.4rem;
                                    border: 0.3rem solid #fff;
                                    border-radius: inherit;
                                    opacity: 0;
                                    transition: opacity 0.2s ease-in-out;
                                }

                                &.active {
                                    &::after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

                &-glass {
                    margin-bottom: 3rem;

                    &-heading {
                        margin-bottom: 1.5rem;
                    }

                    &-content {
                        display: flex;
                        align-items: center;
                    }

                    &-list {
                        margin-right: 2rem;
                        display: flex;
                        align-items: center;

                        &-item {
                            &:not(:last-child) {
                                margin-right: 2rem;
                            }
                            button {
                                width: 4rem;
                                height: 4rem;
                                position: relative;
                                border-radius: 50%;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 0.3rem;
                                    left: 0.3rem;
                                    width: 3.4rem;
                                    height: 3.4rem;
                                    border: 0.3rem solid #fff;
                                    border-radius: inherit;
                                    opacity: 0;
                                    transition: opacity 0.2s ease-in-out;
                                }

                                &.active {
                                    &::after {
                                        opacity: 1;
                                    }
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: inherit;
                                }
                            }
                        }

                        &-btn {
                            font-weight: 500;
                            font-size: 1.5rem;
                            line-height: 1.8rem;
                            letter-spacing: 0.15em;
                            color: $darkGray;
                        }
                    }
                }

                &-item {
                    padding: 1.4rem 2.5rem 1.5rem 2rem;
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    background-color: $white;
                    cursor: pointer;

                    &:not(:last-of-type) {
                        margin-bottom: 3rem;
                    }

                    &:hover {
                        .interior__card-left__options-item-icon {
                            background-color: transparent;
                            box-shadow: 0.2rem 0.5rem 1.8rem rgba(126, 199, 86, 0.4);

                            &::before {
                                opacity: 1;
                            }

                            svg {
                                path,
                                rect {
                                    fill: $white;
                                }
                            }
                        }
                    }

                    &.active {
                        .interior__card-left__options-item-icon {
                            background-color: transparent;
                            box-shadow: 0.2rem 0.5rem 1.8rem rgba(126, 199, 86, 0.4);

                            &::before {
                                opacity: 1;
                            }

                            svg {
                                path,
                                rect {
                                    fill: $white;
                                }
                            }
                        }
                    }

                    &-icon {
                        margin-right: 2rem;
                        width: 4.5rem;
                        height: 4.5rem;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $lightGray;
                        border-radius: 50%;
                        transition-property: background-color, box-shadow;
                        transition-duration: 0.2s;
                        transition-timing-function: ease-in-out;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: inherit;
                            background: $greenGradient;
                            opacity: 0;
                            transition: opacity 0.2s ease-in-out;
                        }

                        svg {
                            width: 2.3rem;
                            height: 2.3rem;
                            object-fit: contain;
                            z-index: 2;

                            path,
                            rect {
                                transition: fill 0.2s ease-in-out;
                            }
                        }
                    }

                    &-text {
                        p {
                            font-size: 1.8rem;
                            line-height: 2.3rem;

                            &:first-child {
                                margin-bottom: 0.5rem;
                                font-weight: 500;
                                color: $darkGray;
                            }

                            &:last-child {
                                font-weight: 700;
                            }
                        }
                    }

                    &-btn {
                        margin-left: auto;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        svg {
                            width: 2.2rem;
                            height: 1.2rem;
                            object-fit: contain;
                        }
                    }
                }
            }

            &__btn {
                margin-top: 3.8rem;
                width: 100%;
            }
        }

        &-right {
            width: 50.7rem;

            &__table {
                margin-bottom: 3.8rem;
                width: 100%;

                &-heading {
                    padding: 2.7rem 4rem 2.6rem 4rem;
                    background-color: $primaryColor;

                    p {
                        color: $white;
                    }
                }

                &-body {
                    padding: 4rem;
                    display: flex;
                    flex-direction: column;
                    min-height: 44.4rem;
                    background-color: $middleGray;
                }

                &-list {
                    padding-right: 1rem;
                    width: calc(100% + 1rem);
                    max-height: 30.2rem;
                    position: relative;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        width: 3px;
                        border-radius: 200rem;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #838e9c;
                        border-radius: 200rem;
                    }

                    &-item {
                        padding-bottom: 1.2rem;
                        border-bottom: 1px solid #a0a1a5;
                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                        &-title {
                            margin-bottom: 1.1rem;
                            font-weight: 500;
                            font-size: 1.8rem;
                            line-height: 2.3rem;
                            color: $darkGray;
                        }

                        &-value {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            p {
                                font-size: 1.8rem;
                                line-height: 2.1rem;

                                &:first-child {
                                    font-weight: 500;
                                }

                                &:last-child {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }

                &-bottom {
                    margin-top: auto;
                    display: flex;
                    align-items: center;

                    &-text {
                        margin-right: 1rem;
                    }

                    &-popup {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: $white;

                        svg {
                            width: 0.6rem;
                            height: 1rem;
                            object-fit: contain;
                        }
                    }

                    &-number {
                        margin-left: auto;
                    }
                }
            }

            &__bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    @media (max-width: 48em) {
        &__top {
            margin-bottom: 3rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &-name {
                margin-bottom: 4rem;
                width: 100%;
                font-size: 5rem;
                line-height: 5rem;
            }

            &-right {
                width: 100%;

                &__stock {
                    width: 32rem;
                    height: 12.2rem;

                    span {
                        margin-right: 1.4rem;
                        width: 2rem;
                        height: 2rem;
                    }

                    p {
                        font-size: 3rem;
                        line-height: 3.6rem;
                    }
                }

                &__share {
                    width: 32rem;
                    height: 12.2rem;

                    a {
                        svg {
                            width: 4.4rem;
                            height: 4.4rem;
                        }
                    }
                }
            }
        }

        &__card {
            margin-bottom: 12.4rem;
            flex-direction: column;
            justify-content: flex-start;

            &-left {
                margin-bottom: 12.4rem;
                width: 100%;
                flex-direction: column;
                justify-content: flex-start;

                &__preview {
                    margin-bottom: 6rem;
                    padding-top: 8rem;
                    width: 100%;
                    height: 88rem;

                    &-bottom {
                        padding: 0 3rem;
                        bottom: 3rem;

                        .card-btn {
                            svg {
                                width: 6.2rem;
                                height: 6.2rem;
                            }
                        }

                        .flip-text {
                            width: 28.2rem;
                            text-align: center;
                            font-size: 3rem;
                            line-height: 3.6rem;
                        }
                    }
                }

                &__options {
                    width: 100%;

                    &-color {
                        margin-bottom: 5rem;

                        &-heading {
                            margin-bottom: 3rem;
                        }

                        &-list {
                            &-item {
                                &:not(:last-child) {
                                    margin-right: 3.8rem;
                                }

                                button {
                                    svg {
                                        width: 8rem;
                                        height: 8rem;
                                    }

                                    &.active {
                                        &::after {
                                            top: 0.6rem;
                                            left: 0.6rem;
                                            width: 6.8rem;
                                            height: 6.8rem;
                                            border-width: 0.6rem;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &-glass {
                        margin-bottom: 5rem;

                        &-list {
                            margin-right: 3.8rem;
                            &-item {
                                &:not(:last-child) {
                                    margin-right: 3.8rem;
                                }

                                button {
                                    width: 8rem;
                                    height: 8rem;

                                    &::after {
                                        top: 0.6rem;
                                        left: 0.6rem;
                                        width: 6.8rem;
                                        height: 6.8rem;
                                        border-width: 0.6rem;
                                    }
                                }
                            }
                        }

                        &-list-btn {
                            font-size: 3rem;
                            line-height: 3.6rem;
                        }
                    }

                    &-item {
                        padding: 3rem;

                        &-icon {
                            margin-right: 3rem;
                            width: 8rem;
                            height: 8rem;

                            svg {
                                width: 4rem;
                                height: 4rem;
                            }
                        }

                        &-text {
                            p {
                                font-size: 3rem;
                                &:first-child {
                                    margin-bottom: 0;
                                    line-height: 3.6rem;
                                }
                                &:last-child {
                                    line-height: 4.6rem;
                                }
                            }
                        }

                        &-btn {
                            svg {
                                width: 4.4rem;
                                height: 2.4rem;
                            }
                        }
                    }

                    &-btn {
                        svg {
                            width: 4.8rem;
                            height: 4.8rem;
                        }
                    }
                }
            }

            &-right {
                width: 100%;

                &__table {
                    margin-bottom: 4rem;

                    &-heading {
                        padding: 4.8rem 4rem;
                    }

                    &-body {
                        padding: 4rem 4rem 5.4rem 4rem;
                        min-height: 64rem;
                    }

                    &-list {
                        margin-bottom: 10rem;
                        padding-right: 0;
                        width: 100%;
                        max-height: none;
                        position: relative;
                        overflow-y: auto;

                        &::-webkit-scrollbar {
                            width: 0;
                        }
                        &-item {
                            padding-bottom: 1rem;
                            border-width: 0.2rem;

                            &-title {
                                margin-bottom: 0.6rem;
                                font-size: 3rem;
                                line-height: 4.6rem;
                            }

                            &-value {
                                p {
                                    font-size: 3rem;

                                    &:first-child {
                                        line-height: 3.6rem;
                                    }

                                    &:last-child {
                                        line-height: 4rem;
                                    }
                                }
                            }
                        }
                    }

                    &-bottom {
                        &-text {
                            margin-right: 1.4rem;
                        }
                        &-popup {
                            width: 4rem;
                            height: 4rem;

                            svg {
                                width: 1.2rem;
                                height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
