.main-category {
    &__top {
        margin-bottom: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        line-height: 1;
    }

    &__swiper {
        width: 100%;
        .swiper-wrapper {
            margin-bottom: 6rem;
        }

        &-slide {
            width: 50.7rem;
            height: 65.2rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;

            &__img {
                width: 18rem;
                height: 37.5rem;
                object-fit: contain;
            }

            .card-top {
                padding: 0 3.4rem 0 4.4rem;
                position: absolute;
                display: flex;
                justify-content: space-between;
                top: 3.7rem;
                left: 0;
                width: 100%;

                .card-subheading {
                    margin-bottom: 0.9rem;
                }
            }

            .card-bottom {
                padding: 0 2rem 0 4.9rem;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                bottom: 2rem;
                left: 0;
                width: 100%;

                .card-price {
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 2rem;
                    letter-spacing: 0.05em;
                }
            }

            .card__color-list {
                margin-top: 0.7rem;
                margin-bottom: 2.4rem;
                display: flex;
                flex-direction: column;

                &__item {
                    position: relative;

                    &:not(:last-child) {
                        margin-bottom: 1.4rem;
                    }

                    &.active {
                        margin-bottom: 3.2rem;
                        span {
                            &::after {
                                content: "";
                                position: absolute;
                                top: -100%;
                                left: -100%;
                                width: 4.5rem;
                                height: 4.5rem;
                                border-radius: 50%;
                                border: 1px solid rgba(131, 142, 156, 0.3);
                            }
                        }
                    }

                    span {
                        display: inline-block;
                        position: relative;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 50%;

                        &.brown {
                            background-color: #413434;
                        }

                        &.light-gray {
                            background-color: #d9d9d9;
                        }

                        &.dark-gray {
                            background-color: #a2a2a2;
                        }

                        &.dark-gold {
                            background-color: #a2865d;
                        }
                    }
                }
            }
        }
    }
}
