.measurement-section {
    padding-top: 30rem;

    &__block {
        padding: 7.1rem 8.9rem 7.6rem 8.9rem;
        margin-left: auto;
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 149.5rem;
        background-color: $middleGray;
    }

    &__heading {
        width: 52.1rem;
        position: absolute;
        top: 5.5rem;
        left: -10.7rem;
    }

    &__notice {
        position: absolute;
        bottom: -2.2rem;
        left: 12rem;
        width: 24.7rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.5rem;
        color: $darkGray;
    }

    &__img {
        position: absolute;
        left: 28.7rem;
        bottom: 0;
        width: 55.7rem;
        height: 49rem;
        object-fit: contain;
    }

    &__list {
        margin-bottom: 8rem;
        &-item {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }

            display: flex;
            align-items: flex-start;

            &__number {
                margin-right: 5.4rem;
                text-align: right;
            }

            &__description {
                width: 39.6rem;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 2.2rem;
            }
        }
    }

    &__btn {
        margin-right: 20.9rem;
    }

    @media (max-width: 48em) {
        padding-top: 28.6rem;

        &__block {
            padding: 0 4rem;
            padding-bottom: 38.2rem;
            margin-left: -4rem;          
            width: 75rem;
            display: flex;
            flex-direction: column;
        }

        &__heading {
            margin-top: -10.6rem;
            margin-bottom: 4rem;
            position: relative;
            top: auto;
            left: 0;
            width: auto;
        }

        &__notice {
            margin-bottom: 8rem;
            position: relative;
            bottom: auto;
            left: auto;
            width: 49.4rem;
            font-size: 3rem;
            line-height: 3.6rem;
        }

        &__img {
            bottom: 0;
            right: 0;
            left: auto;
            width: 54.2rem;
            height: 47.6rem;
        }

        &__list {
           &-item {
            &:not(:last-child) {
                margin-bottom: 4rem;
            }

            &__number {
                margin-top: .8rem;
                margin-right: 5rem;
            }

            &__description {
                width: 57rem;
                font-size: 3rem;
                line-height: 4.4rem;
            }
           }
        }
    }
}
