.offices {
    &__heading {
        margin-bottom: 4rem;
    }

    &__content {
        display: flex;
        height: 74.7rem;

        &-left {
            padding: 4rem 3.5rem 3.5rem 3.5rem;
            width: 41rem;
            height: 100%;
            background-color: $white;
            z-index: 3;

            &__heading {
                margin-bottom: 4.1rem;
            }

            .filters__form {
                margin-bottom: 3rem;
                width: 100%;

                .filters-select {
                    width: 100%;
                    flex: none;

                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 4.1rem;
                    }
                }
            }

            &__list {
                margin-left: -3.5rem;
                padding-left: 3.5rem;
                padding-right: 3.5rem;
                width: 41rem;
                max-height: 41.8rem;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 0;
                }

                &-item {
                    position: relative;
                    border-top: 1px solid rgba(131, 142, 156, 0.3);

                    &:last-child {
                        border-bottom: 1px solid rgba(131, 142, 156, 0.3);
                    }

                    &-btn {
                        padding-top: 2.5rem;
                        padding-bottom: 2.5rem;

                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 2.7rem;
                        transition-property: background-color, font-weight, color;
                        transition-duration: 0.2s;
                        transition-timing-function: ease-in-out;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -3.5rem;
                            width: calc(100% + 3.5rem + 3.5rem);
                            height: 100%;
                            background-color: $primaryColor;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 0.2s ease-in-out;
                        }

                        &.active {
                            color: $white;
                            font-weight: 700;

                            &::after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        #offices {
            width: 119rem;
            height: 100%;
            position: relative;

            [class*="cluster-night-content"] {
                font-family: "Gilroy";
                font-weight: 700;
                font-size: 1.8rem;
                background: linear-gradient(227.01deg, #78bc47 -33.48%, #4e963c 167.47%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            .offices__info {
                padding: 4rem 3.5rem;
                width: 41rem;
                height: 100%;
                background-color: $primaryColor;
                position: absolute;
                top: 0;
                left: 0;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.7rem;
                color: $white;
                z-index: 1;
                transition-property: transform;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                transform: translateX(-100%);

                &.active {
                    transform: translateX(0);
                }

                &-close {
                    position: absolute;
                    top: 3.5rem;
                    right: 3.5rem;

                    svg {
                        width: 1.7rem;
                        height: 1.7rem;
                    }
                }

                &-heading {
                    margin-bottom: 3rem;
                    color: $white;
                }

                &-hours {
                    margin-bottom: 3rem;
                    p {
                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                &-phone {
                    margin-bottom: 3rem;
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__heading {
            margin-bottom: 7rem;
        }

        &__content {
            flex-direction: column;
            height: auto;

            &-left {
                padding: 6rem 5rem 0 5rem;
                width: 100%;
                height: auto;

                &__heading {
                    margin-bottom: 7.2rem;
                }

                .filters__form {
                    margin-bottom: 8rem;
                }

                &__list {
                    max-height: 64.4rem;
                    width: 67rem;
                    margin-left: -5rem;
                    padding-left: 5rem;
                    padding-right: 5rem;

                    &-item {
                        border-width: 0.2rem;

                        &-btn {
                            padding-top: 5rem;
                            padding-bottom: 5rem;
                            font-size: 3.6rem;
                            line-height: 5.4rem;
                        }
                    }
                }
            }

            #offices {
                width: 100%;
                height: auto;

                [class*="cluster-night-content"] {
                    font-size: 2.6rem;
                }

                .offices__info {
                    padding: 6rem 5rem;
                    width: 100%;
                    height: auto;

                    &-heading {
                        margin-bottom: 4rem;
                    }

                    &-hours {
                        margin-bottom: 4rem;
                        font-size: 3.6rem;
                        line-height: 5.4rem;

                        p {
                            &:not(:last-child) {
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    &-phone,
                    &-address {
                        margin-bottom: 4rem;
                        font-size: 3.6rem;
                        line-height: 5.4rem;
                    }

                    &-address {
                        margin-bottom: 0;
                    }
                }

                & > ymaps {
                    height: 62rem;
                }
            }
        }
    }
}
