.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translateX(0);
    }

    &__close {
        position: absolute;
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $white;

        svg {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
        }
    }

    &__body {
        padding: 6rem 4rem;
        background-color: $white;
        height: 100vh;
        background-color: #f4f5f5;
    }

    &__heading {
        margin-bottom: 3.8rem;
    }

    &__btn-clear {
        margin-bottom: 6.5rem;
    }

    &__subheading {
        margin-bottom: 4.1rem;
    }

    &-select {
        width: 69rem;

        &:not(:last-of-type) {
            margin-bottom: 4.1rem;
        }
    }
}

.canvas-popup {
    .popup__body {
        margin-left: auto;
        overflow-y: scroll;
        width: 77rem;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .popup__close {
        top: 4rem;
        right: 81rem;
    }

    .size {
        margin-bottom: 5rem;
    }
}

.options-popup {
    .popup__body {
        margin-left: auto;
        overflow-y: scroll;
        width: 77rem;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .popup__close {
        top: 4rem;
        right: 81rem;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            position: relative;
            width: 33rem;
            height: 46.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            cursor: pointer;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        opacity: 0;
                    }
                    &::after,
                    &::before {
                        opacity: 1;
                    }
                }
            }

            .card-top {
                padding: 0 3rem;
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;

                .card-subheading {
                    margin-bottom: 0.9rem;
                }
            }

            &__img {
                max-width: 19.3rem;
                max-height: 24.4rem;
                object-fit: contain;
            }

            .card-btn {
                svg {
                    transition: opacity 0.2s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/svg/check.svg);
                    background-size: 2.3rem 2.3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }
}

.panel-popup {
    .popup__body {
        margin-left: auto;
        overflow-y: scroll;
        width: 77rem;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .popup__close {
        top: 4rem;
        right: 81rem;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            position: relative;
            width: 33rem;
            height: 46.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            cursor: pointer;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        opacity: 0;
                    }
                    &::after,
                    &::before {
                        opacity: 1;
                    }
                }
            }

            .card-top {
                padding: 0 3rem;
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;

                .card-subheading {
                    margin-bottom: 0.9rem;
                }
            }

            &__img {
                max-width: 19.3rem;
                max-height: 24.4rem;
                object-fit: contain;
            }

            .card-btn {
                svg {
                    transition: opacity 0.2s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/svg/check.svg);
                    background-size: 2.3rem 2.3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }
}

.color-popup {
    .popup__body {
        margin-left: auto;
        overflow-y: scroll;
        width: 77rem;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .popup__close {
        top: 4rem;
        right: 81rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 33rem;
            height: 33rem;
            position: relative;
            cursor: pointer;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        opacity: 0;
                    }
                    &::after,
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &__color {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__name {
                padding: 1.5rem 2rem;
                position: absolute;
                top: 2rem;
                left: 2rem;
                background-color: #fff;
            }

            .card-btn {
                position: absolute;
                bottom: 2rem;
                right: 2rem;

                svg {
                    transition: opacity 0.2s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/svg/check.svg);
                    background-size: 2.3rem 2.3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }
}

.glass-popup {
    .popup__body {
        margin-left: auto;
        overflow-y: scroll;
        width: 77rem;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .popup__close {
        top: 4rem;
        right: 81rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 33rem;
            height: 33rem;
            position: relative;
            cursor: pointer;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        opacity: 0;
                    }
                    &::after,
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &__type {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__name {
                padding: 1.5rem 2rem;
                position: absolute;
                top: 2rem;
                left: 2rem;
                background-color: #fff;
            }

            .card-btn {
                position: absolute;
                bottom: 2rem;
                right: 2rem;

                svg {
                    transition: opacity 0.2s ease-in-out;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/svg/check.svg);
                    background-size: 2.3rem 2.3rem;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    transition: opacity 0.2s ease-in-out;
                }
            }
        }
    }
}
