.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.active {
        transform: translateX(0);
    }

    &__close {
        position: absolute;
        top: 4rem;
        right: 81rem;
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $white;

        svg {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
        }
    }

    &__body {
        margin-left: auto;
        padding: 6rem 4rem;
        background-color: $white;
        width: 77rem;
        height: 100vh;
        background-color: #f4f5f5;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0;
        }
    }

    &__content {
        display: none;

        &.active {
            display: block;
        }
    }

    &__heading {
        margin-bottom: 3.8rem;
    }

    &__btn-clear {
        margin-bottom: 6.5rem;
    }

    &__subheading {
        margin-bottom: 4.1rem;
    }

    &-select {
        width: 69rem;

        .filters-select__name {
            background-color: #f4f5f5;
        }

        &:not(:last-of-type) {
            margin-bottom: 4.1rem;
        }
    }

    @media (max-width: 48em) {
        &__body {
            padding: 4rem 4rem 10.6rem 4rem;
            width: 60rem;
        }

        .filters-select {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 6rem;
            }
        }

        &__close {
            top: auto;
            bottom: 2.4rem;
            right: 62.4rem;
            width: 10.2rem;
            height: 10.2rem;

            svg {
                width: 4.6rem;
                height: 4.6rem;
            }
        }
    }
}

.options-popup {
    .size {
        margin-bottom: 6.1rem;
    }

    @media (max-width: 48em) {
        .size {
            margin-bottom: 8rem;
        }
    }
}

.accessories-popup {
    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            position: relative;
            width: 33rem;
            height: 46.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            cursor: pointer;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }

            .card-top {
                padding: 0 3rem;
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;

                .card-subheading {
                    margin-bottom: 0.9rem;
                }
            }

            &__img {
                max-width: 19.3rem;
                max-height: 24.4rem;
                object-fit: contain;
            }

            .card-btn {
                svg {
                    width: 2.3rem;
                    height: 2.3rem;

                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__list {
            flex-wrap: nowrap;
            flex-direction: column;

            &-item {
                width: 100%;
                height: 68rem;

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }

                &__img {
                    max-width: 30rem;
                    max-height: 30rem;
                }

                .card-btn {
                    svg {
                        width: 4.6rem;
                        height: 4.6rem;
                    }
                }
            }
        }
    }
}

.panel-popup {
    &__list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            position: relative;
            width: 33rem;
            height: 46.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            cursor: pointer;

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }

            .card-top {
                padding: 0 3rem;
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;

                .card-subheading {
                    margin-bottom: 0.9rem;
                }
            }

            &__img {
                max-width: 19.3rem;
                max-height: 24.4rem;
                object-fit: contain;
            }

            .card-btn {
                svg {
                    width: 2.3rem;
                    height: 2.3rem;

                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__list {
            flex-wrap: nowrap;
            flex-direction: column;

            &-item {
                width: 100%;
                height: 68rem;

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }

                &__img {
                    max-width: 14.8rem;
                    max-height: 30rem;
                }

                .card-btn {
                    svg {
                        width: 4.6rem;
                        height: 4.6rem;
                    }
                }
            }
        }
    }
}

.color-popup {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 33rem;
            height: 33rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;

            img.door {
                height: 80%;
                width: auto;
            }

            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 3rem;
            }

            &.active {
                .card-btn {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &__color {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__name {
                padding: 1.5rem 2rem;
                position: absolute;
                top: 2rem;
                left: 2rem;
                background-color: #fff;
            }

            .card-btn {
                position: absolute;
                bottom: 2rem;
                right: 2rem;

                svg {
                    width: 2.3rem;
                    height: 2.3rem;

                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__list {
            flex-wrap: nowrap;
            flex-direction: column;

            &-item {
                width: 100%;
                height: 52rem;

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }

                &__name {
                    top: 4rem;
                    left: 4rem;
                    padding: 3rem 4rem;
                }

                .card-btn {
                    svg {
                        width: 4.6rem;
                        height: 4.6rem;
                    }
                }
            }
        }
    }
}

.glass-popup {
    .popup-select {
        margin-bottom: 5.5rem;
    }
    &__list {
        margin-bottom: 6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: space-between;

        &-item {
            width: 33rem;
            height: 46.6rem;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            background-color: $white;

            &.active {
                .glass-popup__list-item__name {
                    p {
                        font-weight: 700;
                    }
                }

                .card-btn {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &__type {
                width: 50.6rem;
                height: 50.6rem;
                object-fit: contain;
                margin-top: 2rem;
                margin-left: -8.8rem;
            }

            &__name {
                padding: 1.5rem 2rem;
                position: absolute;
                top: 2rem;
                left: 2rem;
                background-color: #fff;

                p {
                    font-weight: 400;
                    transition: font-weight 0.2s ease-in-out;
                }
            }

            .card-btn {
                position: absolute;
                bottom: 2rem;
                right: 2rem;

                svg {
                    width: 2.3rem;
                    height: 2.3rem;

                    path {
                        transition: fill 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    &__option {
        padding: 2rem;
        width: 33rem;
        position: relative;
        background-color: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;

        &-icon {
            position: absolute;
            top: 50%;
            left: 2.5rem;
            transform: translateY(-50%);

            svg {
                width: 2.5rem;
                height: 2.5rem;
                object-fit: contain;
            }
        }

        &-name {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.3rem;
            text-align: center;
        }
    }

    @media (max-width: 48em) {
        &__list {
            flex-wrap: nowrap;
            flex-direction: column;

            &-item {
                width: 100%;
                height: 52rem;

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }

                &__name {
                    top: 4rem;
                    left: 4rem;
                    padding: 3rem 4rem;
                }

                .card-btn {
                    svg {
                        width: 4.6rem;
                        height: 4.6rem;
                    }
                }
            }
        }
    }
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: rgba(33, 37, 44, 0.6);

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__body {
        padding: 6rem 5rem 7.6rem;
        width: 77.8rem;
        position: relative;
        background-color: $white;
    }

    &__close {
        position: absolute;
        top: 5rem;
        right: 5rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
        }
    }

    &__heading {
        margin-bottom: 2rem;
        font-size: 6rem;
        line-height: 6rem;
    }

    &__description {
        margin-bottom: 6rem;
        font-size: 1.8rem;
        line-height: 2.7rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-input__container {
            width: 100%;
            margin-bottom: 5rem;
            position: relative;
        }

        &-input {
            width: 100%;
        }

        &-btn {
            margin-left: auto;
        }
    }

    @media (max-width: 48em) {
        &__body {
            padding: 9rem 4rem 11.4rem 4rem;
            width: calc(100% - 8rem);
        }

        &__close {
            top: 4rem;
            right: 4rem;

            img {
                width: 4.6rem;
                height: 4.6rem;
            }
        }

        &__heading {
            margin-bottom: 2rem;
            font-size: 7rem;
            line-height: 7rem;
        }

        &__description {
            margin-bottom: 8.6rem;
            font-size: 3rem;
            line-height: 4.4rem;
        }
    }
}

.popup-measuring-success {
    &__icon {
        margin: 0 auto;
        margin-bottom: 3.5rem;
        width: 10rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $greenGradient;
        box-shadow: 1rem 1.5rem 4rem rgba(126, 199, 86, 0.4);
        border-radius: 50%;

        svg {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    .pop-up__heading,
    .pop-up__description {
        text-align: center;
    }

    .pop-up__description {
        margin: 0 auto;
        margin-bottom: 5rem;
        width: 45.2rem;
    }

    .pop-up__btn {
        left: 50%;
        transform: translateX(-50%);
    }
}

.popup-payment {
    .pop-up__description {
        margin-bottom: 0;
    }

    .pop-up__subheaing {
        margin-top: 2.7rem;
        margin-bottom: 2.7rem;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.7rem;
    }

    @media (max-width: 48em) {
        .pop-up__subheaing {
            margin-top: 4.4rem;
            margin-bottom: 4.4rem;
            font-size: 3rem;
            line-height: 4.4rem;
        }
    }
}

.popup-quiz {
    text-align: center;

    .pop-up__body {
        padding-top: 9rem;
    }

    .pop-up__description {
        margin: 0 auto;
        margin-bottom: 5rem;
        width: 45rem;
    }

    @media (max-width: 48em) {
        .pop-up__description {
            width: 100%;
        }
    }
}
