.reviews {
    &__heading {
        margin-bottom: 3rem;
    }
    &__top {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.7rem;
            color: $darkGray;
        }
    }

    &__content {
        margin-bottom: 7rem;
        display: flex;
        justify-content: space-between;

        &-left,
        &-right {
            width: 78rem;
        }
    }

    &__item {
        padding: 4.55rem 3.51rem 4rem 12.5rem;
        width: 100%;
        min-height: 25.4rem;
        position: relative;
        background-color: $white;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        &-img {
            padding: 0.266rem;
            position: absolute;
            top: 4.55rem;
            left: 3.5rem;
            width: 5.5rem;
            height: 5.5rem;
            background-color: $lightGray;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-rating {
            position: absolute;
            top: 4rem;
            right: 3.5rem;
            display: flex;
            width: 6.6rem;
            height: 6.6rem;
            align-items: center;
            justify-content: center;
            background: $greenGradient;
            box-shadow: $btnBoxShadow;
            border-radius: 50%;

            svg {
                margin-right: 0.5rem;
                width: 1.1rem;
                height: 1.1rem;
                object-fit: contain;
            }

            span {
                font-size: 1.5rem;
                line-height: 2.3rem;
                color: $white;
            }
        }

        &-name {
            margin-bottom: 1rem;
        }

        &-date {
            margin-bottom: 2.55rem;
        }

        &-description,
        &-btn {
            display: inline;
            font-size: 1.8rem;
            line-height: 2.2rem;
        }

        &-btn {
            margin-left: 0.5rem;
            display: none;
            font-weight: 600;
            text-decoration: underline;
            text-underline-offset: 0.3rem;

            &.active {
                display: inline;
            }
        }
    }

    @media (max-width: 48em) {
        &__heading {
            margin-bottom: 7rem;
        }

        &__top {
            margin-bottom: 16rem;
            align-items: flex-start;
            flex-direction: column;

            &-left {
                font-size: 3rem;
                line-height: 4rem;
                margin-bottom: 2.4rem;
            }
        }

        &__content {
            margin-bottom: 8rem;
            justify-content: flex-start;
            flex-direction: column;

            &-left,
            &-right {
                width: 100%;
            }

            &-left {
                margin-bottom: 16rem;
            }
        }

        &__item {
            padding: 18rem 4rem 5rem 4rem;
            min-height: 67.8rem;

            &:not(:last-child) {
                margin-bottom: 16rem;
            }

            &-img {
                padding: 1.2rem;
                top: 0;
                left: 4rem;
                width: 24rem;
                height: 24rem;
                transform: translateY(-50%);
            }

            &-rating {
                top: 0;
                right: 4rem;
                width: 13.2rem;
                height: 13.2rem;
                transform: translateY(-50%);

                svg {
                    margin-right: 1rem;
                    width: 2.2rem;
                    height: 2.2rem;
                }

                span {
                    font-size: 3rem;
                    line-height: 4.6rem;
                }
            }

            &-name {
                margin-bottom: 2rem;
            }

            &-date {
                margin-bottom: 4rem;
            }

            &-description {
                font-size: 3rem;
                line-height: 4.4rem;
            }

            &-btn {
                font-size: 3rem;
                line-height: 4.4rem;
            }
        }
    }
}
