@import "set";
@import "components";
@import "../fonts/fonts";

@import "header";
@import "footer";

@import "main-hero";
@import "main-popular";
@import "main-advantages";
@import "main-seo";

@import "door-category";

@import "selection";

@import "reviews-section";

@import "measurement-section";

@import "stocks-main";

@import "stock-detail";

@import "about-main";

@import "contacts-main";

@import "catalog-hero";
@import "catalog";

@import "entrance";

@import "interior";

@import "product-description";

@import "door-accessories";

@import "accessory-page";

@import "reviews";

@import "articles";

@import "article-detailed";

@import "error";

@import "popup";

body {
    position: relative;
}

body.lock {
    overflow: hidden;
}

@media (min-width: 48.01em) {
    .mobile {
        display: none !important;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none !important;
    }
}
